<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 다른 head 요소들... -->
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>
<body>
<footer>
    <a href="/">
        <img src="img/partylogo.png" loading="lazy" width="140" height="80" decoding="async" data-nimg="1"  style="color: transparent;">
    </a>
    <ul style="list-style: none; padding: 0; display: flex;">
        <li style="margin-right: 10px;"><a target="_blank" href="https://cupist.notion.site/GLAM-2b9dfc151c414a38a05dd495af6a93ac?pvs=4"><span class="button3">개인정보 처리방침</span></a></li>
        <li style="margin-right: 10px;"><a target="_blank" href="https://cupist.notion.site/GLAM-7f3fc205349d4eec8d84a52732fb5674?pvs=4"><span class="button3">이용약관</span></a></li>
        <li style="margin-right: 10px;"><a target="_blank" href="https://cupist.notion.site/GLAM-675bfb02ac6045d9a9a4fe8a93d9c24e?pvs=4"><span class="button3">위치기반서비스 이용약관</span></a></li>
        <li><a target="_blank" href="https://cupist.notion.site/GLAM-a9377ed41a2747e48312c45aaf9c0d52?pvs=4"><span class="button3">청소년보호정책</span></a></li>
    </ul>
        <p>대표자 : 박찬형</p>
        <p>사업자등록번호 : 12-345-6789-01</p>
        <p>통신판매업신고 : 2023-부산-422호</p>
        <p>주소 : 부산광역시 부산진구 중앙대로 688 한준빌딩 5층 501호</p>
        <p>연락처 : 010-0000-0000</p>
        <p>제휴,광고,PR문의 : <a href="mailto:chanhyung13@gmail.com">chanhyung13@gmail.com</a></p>
    <div class="footer-social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
</footer>
</body>
</html>