<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>박찬형</title>
		<meta name="description" content="Grid Loading and Hover Effect: Recreating Samsung's grid loading effect" />
<!--		<meta name="keywords" content="grid loading, swipe, effect, slide, masonry, web design, tutorial" />-->
		<meta name="author" content="Codrops" />
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/nav.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="js/timer.js"></script>
	</head>
	<body>
<!--			<nav th:replace="~{nav :: navbarFragment}"></nav>-->
		<div class="in-wrapper">
<!--				jwt 남은시간-->
<!--				<span class="right" sec:authorize="isAuthenticated()">-->
<!--					 <label for="Timer">남은 시간:</label>-->
<!--					<input id="Timer" type="text" value="" readonly/>-->
<!--				</span>-->
			<nav  class="nav-bar">
				<a href="/">
					<img src="img/partylogo.png" loading="lazy" width="140" height="80" decoding="async" data-nimg="1"  style="color: transparent;">
				</a>
				<a href="/feed">피드</a>
				<div class="right-menu">
					<a class="login-button btn btn-dark" href="/login" sec:authorize="isAnonymous()"><span>로그인</span></a>
					<!--				내정보-->
					<a href="/info"   sec:authorize="isAuthenticated()">
						<img src="img/info.png" class="right"  loading="lazy" width="24" height="24" decoding="async" data-nimg="1"  style="color: transparent;">
					</a>
					<a class="login-button btn btn-dark" href="/jwtLogout" sec:authorize="isAuthenticated()"><span>로그아웃</span></a>
				</div>
			</nav>

			<div class="css-gl5t6z">
					<div class="introduction-wrapper introduction-box-md background-black">
						<div class="video-catch-phrase-wrapper">
							<div class="video-with-text">
							<video class="video" muted autoplay loop>
						<source src="img/intro.mp4" type="video/mp4">
						<strong>Your browser does not support the video tag.</strong>
					</video>
						<p class="video-text">소중한 인연을 만나요.<br>함께.</p>
							</div>
						</div>
					</div>
					<div class="main-img">
						<img src="/img/001.jpg" class="main-img">
						<img src="/img/002.jpg" class="main-img">
					</div>
				</div>

			<section>

			</section>
<footer>
	<div th:include="/footer"></div>
</footer>
		</div>

	</body>
</html>