<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/login.js"></script>
</head>
<body>
<div class="container">

    <!-- Heading -->
    <h1>Login</h1>
<!--    <img src="/img/partylogo.png" loading="lazy" width="140" height="80" decoding="async" data-nimg="1"  style="color: transparent;">-->
    <!-- Links -->
    <ul class="links">
        <li>
            <a id="signin" href="/login">SIGN IN</a>
        </li>
        <li>
            <a  d="signup" href="/join">SIGN UP</a>
        </li>
<!--        <li>-->
<!--            <a href="#" id="reset">RESET</a>-->
<!--        </li>-->
    </ul>


    <!-- Form -->
    <form th:method="post" th:action="|@{/login}|" th:object="${loginRequest}">
        <!-- email input -->
        <div class="first-input input__block first-input__block">
            <label th:for="loginId"></label>
            <input type="text" th:field="*{loginId}"  class="input" placeholder="ID" />
        </div>
        <!-- password input -->
        <div class="input__block">
            <label th:for="password"></label>
            <input type="password" th:field="*{password}" placeholder="Password" class="input" id="password"    />
        </div>
        <!-- repeat password input -->
        <div class="input__block">
            <input type="password" placeholder="Repeat password" class="input repeat__password" id="repeat__password"    />
        </div>
        <!-- sign in button -->
        <button class="signin__btn">
            Login
        </button>
    </form>

<div class="separator">
    <p>OR</p>
</div>
<!-- google button -->
<button class="google__btn" onclick="location.href='/oauth2/authorization/google'">
    <i class="fa fa-google">Google Login</i>
</button>
<!-- google button -->
    <button class="github__btn" onclick="location.href='/oauth2/authorization/kakao'">
    <span class="kakao"> Kakao Login</span>
</button>

<button class="naver__btn" onclick="location.href='/oauth2/authorization/naver'">
    <i class="naver"> Naver Login</i>
</button>
</div>
</body>
</html>
