
<nav th:fragment="navbarFragment" class="nav-bar" xmlns:sec="http://www.w3.org/1999/xhtml">
        <a href="/">
            <img src="/img/partylogo.png" loading="lazy" width="140" height="80" decoding="async" data-nimg="1"  style="color: transparent;">
        </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/feed" class="menu">Feed</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/feed" class="menu">Support</a>
        <div class="right-menu">
<!--            로그인 x -->
            <a href="/login"   sec:authorize="isAnonymous()" style="text-decoration: none">
                <img src="/img/info.png" class="right"  loading="lazy" width="24" height="24" decoding="async" data-nimg="1"  style="color: transparent; ">
            </a>
            <a class="login-button btn btn-dark" href="/login" sec:authorize="isAnonymous()"><span>로그인</span></a>


            <!--				로그인 o -->
            <a href="/info"   sec:authorize="isAuthenticated()" style="text-decoration: none">
                <img src="/img/info.png" class="right"  loading="lazy" width="24" height="24" decoding="async" data-nimg="1"  style="color: transparent; ">
            </a>
            <a class="login-button btn btn-dark" href="/jwtLogout" sec:authorize="isAuthenticated()"><span>로그아웃</span></a>
        </div>
    </nav>